<h2 class="ui center aligned icon header">
  <i class="circular orange wechat icon"></i>
  Chat Box
</h2>




<div class="ui two column grid">
<div class="twelve wide column">
<div class="ui fluid raised card chatbox">
  <div class="content" id="messages">
<div class="ui small feed" id="message-container">
  
<% @messages.each do |i| %>
  <div class="event">
    <div class="content">
      <div class="summary">
        
      <h3><%= i.user.username %> : <%= i.body %></h3>
         

      </div>
    </div>
  </div>
  <% end %>
  
  
</div>
</div>
<div class="extra content">
<%= form_for(@message,html: {class: "ui reply form",role: "form"},url: message_path,remote: true) do |f| %>
<div class="field">
<div class="ui fluid icon">
   <%= f.text_field  'body' %>
   <%= f.button '<i class="orange bordered inverted primary submit edit icon button"></i>Send'.html_safe %>
    
</div>
</div>
<% end %>
</div>
</div>
</div>


<div class="four wide column">
<div class="ui fluid raised card chatbox">
  <div class="content">
<div class="ui inverted vertical menu">
  <%= link_to "Home",root_path, class: "active item" %>
  <%= link_to "Messages",chatroom_index_path, class: "item" %>
  <%= link_to "Friends",users_path, class: "item" %>

</div>
</div>
</div>
</div>
</div>